@model StockIncomeViewModel
<h2>StockIncome Update Form</h2>
<form action="/stockincome/update" method="post">
    <div class="col-6">
        <input type="text" name="Id" value="@Model.Id" hidden/>
        <div class="mb-3">
            <label for="Product" class="form-label">Product</label>
            <select name="ProductId" id="Product" class="form-select">

                @foreach (var product in Model.ProductViewModels)
                {
                    if (product.Id == Model.ProductId)
                    {
                        <option value="@product.Id" selected>@product.Name</option>
                    }
                    else
                    {
                        <option value="@product.Id">@product.Name</option>
                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <label for="PurchaseDate" class="form-label">Purchase Date</label>
            <input type="date" value="@Model.PurchaseDate.ToString("yyyy-MM-dd")" name="PurchaseDate" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="Quantity" class="form-label">Quantity</label>
            <input type="number" value="@Model.Quantity" name="Quantity" class="form-control"/>
        </div>
        <div class="mb-3">
            <label for="DeliveryStatus" class="form-label">Delivery Status</label>
            <textarea rows="3" value="@Model.DeliveryStatus" name="DeliveryStatus" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="SupplierId" class="form-label">Model</label>
            <select name="SupplierId" id="SupplierId" class="form-select">

                @foreach (var suppliers in Model.SupplierViewModels)
                {
                    if (suppliers.Id == Model.SupplierId)
                    {
                        <option value="@suppliers.Id" selected>@suppliers.Name</option>
                    }
                    else
                    {
                        <option value="@suppliers.Id">@suppliers.Name</option>
                    }
                }
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-success"><i class="fa-solid fa-pencil"></i>Update</button>
    <a href="/purchase/list" class="btn btn-warning"><i class="fa fa-window-close"></i>Cancel</a>
</form>