@model CategoryViewModel
@{
    if (TempData["ErrorViewModel"] != null)
    {
        var error = Newtonsoft.Json.JsonConvert.DeserializeObject<ErrorViewModel>((string)TempData["ErrorViewModel"]);
        <div class="alert @(error.IsOccurError ? "alert-danger" : "alert-success")">
            @error.Message
        </div>
    }
}
<h2 class="mb-3">Category Update Form</h2>
<form action="/category/update" method="post">
    <div class="mb-3 col-6">
        <input type="text" name="Id" value="@Model.Id" class="form-control" hidden />
    </div>
    <div class="mb-3 col-6">
        <label for="Name" class="form-label">Name</label>
        <input type="text" name="Name" value="@Model.Name" class="form-control" />
    </div>
    <div class="mb-3 col-6">
        <label for="Description" class="form-label">Description</label>
        <input type="text" name="Description" value="@Model.Description" class="form-control"/>
    </div>

    <button class="btn btn-success" type="submit">Update</button>
    <a href="/category/list" class="btn btn-warning">Cancel</a>
</form>