@model IList<CategoryViewModel>

@{
    if (TempData["ErrorViewModel"] != null)
    {
        var error = Newtonsoft.Json.JsonConvert.DeserializeObject<ErrorViewModel>((string)TempData["ErrorViewModel"]);
        <div class="alert @(error.IsOccurError ? "alert-danger" : "alert-success")">
            @error.Message
        </div>
    }
}
<h1 class="mb-3">Category List Information</h1>
<a href="/category/entry" class="btn btn-primary"><i class="fa fa-plus"></i>Create</a>
<table class="table table-hover" id="CategoryTable">
    <thead class="table-dark">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    @{
        int i = 1;
    }
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@i</td>
                <td>@category.Name</td>
                <td>@category.Description</td>
                <td>
                    <a href="/category/edit?id=@category.Id" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a>
                    <a href="javascript:void(0)" data-url="/category/delete?id=@category.Id" data-name="@category.Name" class="btn btn-danger delete-button"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
         i++;
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        // Initialize DataTable
        $("#CategoryTable").DataTable();

        $(".delete-button").on("click", function (e) {
            e.preventDefault();
            let url = $(this).data("url");
            let name = $(this).data("name");
            Swal.fire({
                title: 'Are you sure!',
                text: `You are about to delete "${name}".This Action can not be undone`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                        Swal.fire({
                            title: 'Success',
                            text: `You delete "${name}".`,
                            icon: 'success'
                             }).then(() => {
                                  window.location.href = url;
                        });
                }
            });
        });
    });
</script>