
@model IList<PhoneModelViewModel>

@{
    if (TempData["ErrorViewModel"] != null)
    {
        var error = Newtonsoft.Json.JsonConvert.DeserializeObject<ErrorViewModel>((string)TempData["ErrorViewModel"]);
        <div class="alert @(error.IsOccurError ? "alert-danger" : "alert-success")">
            @error.Message
        </div>
    }
}

<h2>Model List Information</h2>
<div class="mb-3">
    <a href="/phonemodel/entry" class="btn btn-primary">Create</a>
</div>

<table class="table table-hover" id="PhoneModelTable">
    <thead class="table-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Specification</th>
            <th scope="col">Release Date</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    @{
        int i = 1;
    }
    <tbody>
        @foreach (var data in Model)
        {
            <tr>
                <td scope="row">@i</td>
                <td>@data.Name</td>
                <td>@data.Brand</td>
                <td>@data.Specification</td>
                <td>@data.ReleaseDate?.ToString("dd-MM-yyyy")</td>
                <td>
                    <a href="/phoneModel/Edit?id=@data.Id" class="btn btn-primary">Edit</a>
                    <a href="javascript:void(0)" class="btn btn-danger delete-button" data-url="/phoneModel/Delete?id=@data.Id" data-name="@data.Name">Delete</a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        // Initialize DataTable
        $("#PhoneModelTable").DataTable();

        // Handle Delete Button Click
        $(".delete-button").on("click", function (e) {
            e.preventDefault();
            // Get data attributes
            let url = $(this).data("url");
            let name = $(this).data("name");

            // SweetAlert confirmation dialog
            Swal.fire({
                title: 'Are you sure?',
                text: `You are about to delete "${name}". This action cannot be undone.`,
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirect to the delete URL
                    Swal.fire({
                        title: 'Success',
                        text: `You delete "${name}".`,
                        icon: 'success'
                    }).then(() => {
                        window.location.href = url;
                    });
                }
            });
        });
    });
</script>
