@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Product";
}
<h3>Product List</h3>
@{
    var info = ViewData["info"];
}
@if (info != null)
{
    if (Convert.ToBoolean(ViewData["status"]))
    {
        <div class="alert alert-success" role="alert">
            @info
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @info
        </div>
    }
}

<div class="mb-3">
    <a href="/product/entry" class="btn btn-primary"><i class="fa fa-plus"></i>Create</a>
</div>
<table id="productTable" class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Code</th>
            <th scope="col">Category</th>
            <th scope="col">Brand</th>
            <th scope="col">Name</th>
            <th scope="col">BarCode</th>
            <th scope="col">Quantity</th>
           @* <th scope="col">Cost Price</th>
            <th scope="col">Sale Price</th>
            <th scope="col">Disount Price</th> *@
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    @{
        int i = 1;
    }
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td scope="row">@i</td>
                <td>@product.Code</td>
                <td>@product.CategoryInfo</td>
                <td>@product.BrandInfo</td>
                <td>@product.Name</td>
                <td>@product.BarCode</td>
                <td>@product.Quantity</td>
              @*  <td>@product.CostPrice</td>
                <td>@product.SalePrice</td>
                <td>@product.DiscountPrice</td> *@
                <td>@product.Description</td>
                <td>
                    <a href="/product/edit?id=@product.Id" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a>
                    <a href="javascript:void(0)" class="btn btn-danger delete-button" data-url="/product/delete?id=@product.Id" data-name="@product.Name"><i class="fa-solid fa-trash"></i></a>
                </td>
        </tr>
        i++;
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        // Initialize DataTable
        $("#productTable").DataTable();

        $(".delete-button").on("click", function (e) {
            e.preventDefault();
            let url = $(this).data("url");
            let name = $(this).data("name");
            Swal.fire({
                title: 'Are you sure!',
                text: `You are about to delete "${name}".This Action can not be undone`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: 'Success',
                        text: `You delete "${name}".`,
                        icon: 'success'
                        }).then(() => {
                            window.location.href = url;
                    });
                    
                }
            });
        });
    });
</script>