<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>
<form action="/sale/CheckCart" method="get">
    @if(ViewBag.Info != null)
    {
        <h1 class="alert alert-success" role="alert">@ViewBag.Info</h1>
    }
    <h2>Sale Order Process</h2>
    <hr />
    <div class="col-6">
    <fieldset>
        <legend style="text-align:center">Sale</legend>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Voucher No</label>
            <input type="text" value="@ViewBag.VoucherNo" class="form-control" required name="VoucherNo"/>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Sale Date</label>
            <input type="date" value="@ViewBag.SaleDate" class="form-control" required name="SaleDate" />
        </div>
    </fieldset>
    <fieldset>
        <legend style="text-align:center">Sale Item</legend>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Product</label>
                <select class="form-control" name="ProductId" id="ddlProductId">
                    <option value="x">[ Select One ]</option>
                    @foreach (var p in Model.ProductViewModels)
                    {
                        <option value="@p.Id">@p.Name</option>
                    }
                </select>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Quantity</label>
            <input type="number" class="form-control" required name="Quantity" id="txtQty"/>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Remark</label>
            <input type="text" class="form-control" name="Remark" id="txtRemark" />
        </div>
    </fieldset>
    </div>
    <div class="row mb-3">
        <div class="col-sm-10">
            <button type="button" class="btn btn-primary" id="btnAddToCart"><i class="fa-solid fa-floppy-disk"></i>Add to Cart</button>
            <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i>CheckOut Sale Order</button>
        </div>
    </div>
</form>

<script>
    $("#btnAddToCart").click(function (evt) { 
        evt.preventDefault();
        var saleItem = {};
        saleItem.ProductId = $("#ddlProductId").val();
        saleItem.Quantity = $("#txtQty").val();
        saleItem.Remark = $("#txtRemark").val();
        var url = "/sale/AddToCart";
        $.ajax({
            type:'POST',
            url : url,
            data : saleItem,
            success: function (response) {
                alert("#adding an item to the cart!!");
            },
            failure: function (response) {
                console.log("error");
            }
        });
    
    });
</script>
