@model IList<SupplierViewModel>
<h2 class="mb-3">Supplier Information List</h2>

<div>
    <a href="/supplier/entry" class="btn btn-primary"><i class="fa fa-plus"></i>Create</a>
</div>
<table class="table table-hover" id="supplierTable">
    <thead class="table-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Contact Information</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    @{
        int i = 1;
    }
    <tbody>
        @foreach(var supplier in Model)
        {
            <tr>
                <td>@i</td>
                <td>@supplier.Name</td>
                <td>@supplier.ContactInformation</td>
                <td>@supplier.Address</td>
                <td>
                    <a href="/supplier/edit?id=@supplier.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                    <a href="javascript:void(0)" class="btn btn-danger delete-button" data-name="@supplier.Name" data-url="/supplier/delete?id=@supplier.Id"><i class="bi bi-trash3-fill"></i></a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        // Initialize DataTable
        $("#supplierTable").DataTable();

        $(".delete-button").on("click", function (e) {
            e.preventDefault();
            let url = $(this).data("url");
            let name = $(this).data("name");
            Swal.fire({
                title: 'Are you sure!',
                text: `You are about to delete "${name}".This Action can not be undone`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: 'Success',
                        text: `You delete "${name}".`,
                        icon: 'success'
                    }).then(() => {
                        window.location.href = url;
                    });

                }
            });
        });
    });
</script>