@model IList<PurchaseViewModel>
<h1 class="mb-3">Purchase Information View</h1>
<div>
    <a href="/purchase/entry" class="btn btn-primary">
        <i class="fa fa-plus"></i>Create
    </a>
</div>
<table class="table table-hover" id="PurchaseTable">
    <thead class="table-dark">
        <tr>
            <th>No</th>
            <th>Supplier Information</th>
            <th>Purchase Date</th>
            <th>Total Cost</th>
            <th>Delivery Status</th>
            <th>Action</th>
        </tr>
    </thead>
    @{
        int i = 1;
    }
    <tbody>
        @foreach (var purchase in Model)
        {
            <tr>
                <td>@i</td>
                <td>@purchase.SupplierInfo</td>
                <td>@purchase.PurchaseDate.ToString("dd-MM-yyyy")</td>
                <td>@purchase.TotalCost</td>
                <td>@purchase.DeliveryStatus</td>
                <td>

                    <a href="/purchase/edit?id=@purchase.Id" class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                    <a href="javascript:void(0)" class="btn btn-danger delete-button" data-url="/purchase/delete?id=@purchase.Id" data-name="@purchase.SupplierInfo"><i class="bi bi-trash3-fill"></i></a>
                </td>
            </tr>
            i++;
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function () {
        // Initialize DataTable
        $("#PurchaseTable").DataTable();

        $(".delete-button").on("click", function (e) {
            e.preventDefault();
            let url = $(this).data("url");
            let name = $(this).data("name");
            Swal.fire({
                title: 'Are you sure!',
                text: `You are about to delete "${name}".This Action can not be undone`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: 'Success',
                        text: `You delete "${name}".`,
                        icon: 'success'
                        }).then(() => {
                            window.location.href = url;
                    });

                }
            });
        });
    });
</script>