
@{
    ViewData["Title"] = "Price";
}
<h3>Price</h3>
@{
    var info = ViewData["info"];
}
@if (info != null)
{
    if (Convert.ToBoolean(ViewData["status"]))
    {
        <div class="alert alert-success" role="alert">
            @info
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @info
        </div>
    }
}
<form action="/Price/update" method="post">
    <div class="col-6">
        <input type="hidden" name="Id" class="form-control" value="@Model.Id"/>
        <div class="mb-3">
            <label class="form-label">Product</label>
            <select class="form-select" name="ProductId">

                @foreach (var item in ViewBag.Products)
                {
                    if(item.Id == Model.Id)
                    {
                        <option value="@item.Id" selected>@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id" selected>@item.Code</option>
                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Pricing Date</label>
            <input type="date" class="form-control" name="PricingDate" value="@Model.PricingDate.ToString("yyyy-MM-dd")" required>

        </div>
        <div class="mb-3">
            <label class="form-label">Purchace Price</label>
            <input type="number" class="form-control" name="PurchasePrice" value="@Model.PurchasePrice" required>

        </div>
        <div class="mb-3">
            <label class="form-label">WholeSale Price</label>
            <input type="number" class="form-control" name="WholeSalePrice" value="@Model.WholeSalePrice" required>

        </div>
        <div class="mb-3">
            <label class="form-label">RetailSale Price</label>
            <input type="number" class="form-control" name="RetailSalePrice" value="@Model.RetailSalePrice" required>

        </div>
    </div>
   
    <button class="btn btn-primary" type="submit"><i class="fa-solid fa-floppy-disk"></i>Update</button>
    <a href="/price/list" class="btn btn-warning"><i class="fa fa-window-close"></i>Cancel</a>
</form> 