@model BrandViewModel
@{
    ViewData["Title"] = "Brand";
}
@{
    var info = ViewData["Info"];
}
@if(info != null)
{
    if(Convert.ToBoolean(ViewData["Status"])){
        <div class="alert alert-success">
            @info
        </div>
    }
    else{
        <div class="alert alert-danger">
            @info
        </div>
    }
}
<h2>Model Edit Form</h2>
<form action="/brand/update" method="post">
    <input type="text" name="Id" value="@Model.Id" class="form-control" hidden />
    <div class="col-6 mb-3">
        <label for="Code" class="form-label">Code</label>
        <input type="text" name="Code" value="@Model.Code" class="form-control" required />
    </div>
    <div class="col-6 mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" name="Name" value="@Model.Name" class="form-control"  required />
    </div>
    <div class="col-6 mb-3">
        <label class="form-label">Category</label>
        <select class="form-select" name="CategoryId">
            @foreach (var Category in ViewBag.Categories)
                @if (Category.Id == Model.CategoryId)
                {
                    <option value="@Category.Id" selected>@Category.Code</option>
                }
                else
                {
                    <option value="@Category.Id">@Category.Code</option>
                }
        </select>
    </div>
    <button type="submit" class="btn btn-success"><i class="fa-solid fa-pencil"></i>Update</button>
    <a href="/brand/list" class="btn btn-warning"><i class="fa fa-window-close"></i>Cancel</a>
</form>
