
@model IEnumerable<BrandViewModel>

<h2>Model List Information</h2>
<div class="mb-3">
    <a href="/brand/entry" class="btn btn-primary"><i class="fa fa-plus"></i>Create</a>
</div>

<table class="table table-hover" id="PhoneModelTable">
    <thead class="table-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        @if(Model.Any()){
            int i = 1;
            @foreach (var data in Model)
        {
            <tr>
                <td scope="row">@i</td>
                <td>@data.Code</td>
                <td>@data.Name</td>
                <td>@data.CategoryName</td>
                <td>
                    <a href="/brand/Edit?id=@data.Id" class="btn btn-primary"><i class="fa-solid fa-pencil"></i></a>
                    <a href="javascript:void(0)" class="btn btn-danger delete-button" data-url="/brand/Delete?id=@data.Id" data-name="@data.Name"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            i++;
        }
        }else{
            <tr>
                <td colspan="5" class="text-center">There is no data to Display</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        // Initialize DataTable
        $("#PhoneModelTable").DataTable();

        // Handle Delete Button Click
        $(".delete-button").on("click", function (e) {
            e.preventDefault();
            // Get data attributes
            let url = $(this).data("url");
            let name = $(this).data("name");

            // SweetAlert confirmation dialog
            Swal.fire({
                title: 'Are you sure?',
                text: `You are about to delete "${name}". This action cannot be undone.`,
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirect to the delete URL
                    Swal.fire({
                        title: 'Success',
                        text: `You delete "${name}".`,
                        icon: 'success'
                    }).then(() => {
                        window.location.href = url;
                    });
                }
            });
        });
    });
</script>
